* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {  
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height]
}

header {
    background-color: whitesmoke;
    max-width: 940px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    color: gray;
    text-decoration: none;
}

.featured{
    color: gray;
    margin-top: 20px;
}
.intro {
    
    background-color: whitesmoke;
    max-width: 940px;
    margin: auto;
}

h1 {
    padding: 24px 24px;
}

p {
    padding: 0 24px;
    padding-bottom: 24px;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color:dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: darkgray;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    /*background-color: rgba(220, 0, 0, 1);*/
    background-color: darkgray;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.post-nav {
    background-color: whitesmoke;
    max-width: 940px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.previous {
    margin-left: 20px;
}

.next {
   float: right;
   margin-right: 20px;
}

.footer { 
    position: relative;
    max-width: 940px;
    margin: auto;
    margin-top: 20px;
    min-width: ;
    height: 70px;
    background-color: whitesmoke;
    color: darkgray;
    text-align: center;
}
@media(max-width:576px){
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: whitesmoke;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

}